<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>com.stevemarshall.PrintGuardianCrossword</string>
	<key>ProgramArguments</key>
	<array>
		<string>/bin/sh</string>
		<string>-c</string>
		<string>$HOME/bin/print-guardian-crossword</string>
	</array>
	<key>StandardOutPath</key>
	<string>/tmp/com.stevemarshall.PrintGuardianCrossword.stdout.log</string>
	<key>StandardErrorPath</key>
	<string>/tmp/com.stevemarshall.PrintGuardianCrossword.stderr.log</string>
	<key>StartCalendarInterval</key>
	<dict>
		<key>Weekday</key>
		<integer>6</integer>
		<key>Hour</key>
		<integer>9</integer>
	</dict>
</dict>
</plist>
